# Extract shared OG

In [7]:
df=pd.read_csv( "/Users/zeyku390/PycharmProjects/H.inflata/output/1_orthofinder/Results_Oct10_7sp/Orthogroups/Orthogroups.GeneCount.tsv", sep="\t", header='infer')
df=df[["Orthogroup","HIN", "trepo", "spiro", "wb", "muris", "kbiala", "carpe", "Total"]]
df

      Orthogroup   HIN  trepo  spiro  wb  muris  kbiala  carpe  Total
0      OG0000000  1927      0      1   0      0       0      0   1928
1      OG0000001   804      0      0   0      0       0      0    804
2      OG0000002   780      0      0   0      0       0      0    780
3      OG0000003   659      0      0   0      0       0      0    659
4      OG0000004   511      1      0   0      0       0      0    512
...          ...   ...    ...    ...  ..    ...     ...    ...    ...
15300  OG0015300     0      0      0   0      0       0      2      2
15301  OG0015301     0      0      0   0      0       0      2      2
15302  OG0015302     0      0      0   0      0       0      2      2
15303  OG0015303     0      0      0   0      0       0      2      2
15304  OG0015304     0      0      0   0      0       0      2      2

[15305 rows x 9 columns]

In [8]:
"OG shared by all diplomonads"

print("Total HIN genes =", df[(df.iloc[:,[1,2,3,4,5]] >=1).all(1)]["HIN"].sum())
print("Total trepo genes =", df[(df.iloc[:,[1,2,3,4,5]] >=1).all(1)]["trepo"].sum())
print("Total spiro genes =", df[(df.iloc[:,[1,2,3,4,5]] >=1).all(1)]["spiro"].sum())
print("Total wb genes =", df[(df.iloc[:,[1,2,3,4,5]] >=1).all(1)]["wb"].sum())
print("Total muris genes =", df[(df.iloc[:,[1,2,3,4,5]] >=1).all(1)]["muris"].sum())


og_diplo=df[(df.iloc[:,[1,2,3,4,5]] >=1).all(1)]
og_diplo

Total HIN genes = 9220
Total trepo genes = 2639
Total spiro genes = 2426
Total wb genes = 2101
Total muris genes = 2143

     Orthogroup  HIN  trepo  spiro   wb  muris  kbiala  carpe  Total
5     OG0000005   18     13     17  159    216       9     12    444
19    OG0000019  228     13     11    7      2       6      9    276
39    OG0000039  133     16      6    4      6      10      3    178
42    OG0000042   51     18     19   14     14      26     23    165
57    OG0000057   91     12      6    5      7       8      5    134
...         ...  ...    ...    ...  ...    ...     ...    ...    ...
4963  OG0004963    2      1      1    1      1       0      0      6
4964  OG0004964    2      1      1    1      1       0      0      6
4967  OG0004967    1      1      2    1      1       0      0      6
6008  OG0006008    1      1      1    1      1       0      0      5
6077  OG0006077    1      1      1    1      1       0      0      5

[1662 rows x 9 columns]

In [9]:
"OG shared by all diplomoands and kbiala & carpe"

print("Total HIN genes =", df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]["HIN"].sum())
print("Total trepo genes =", df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]["trepo"].sum())
print("Total spiro genes =", df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]["spiro"].sum())
print("Total wb genes =", df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]["wb"].sum())
print("Total muris genes =", df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]["muris"].sum())
print("Total kbiala genes =", df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]["kbiala"].sum())
print("Total carpe genes =", df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]["carpe"].sum())

og_all_sp=df[(df.iloc[:,[1,2,3,4,5,6,7]] >=1).all(1)]
og_all_sp

Total HIN genes = 6439
Total trepo genes = 1781
Total spiro genes = 1646
Total wb genes = 1443
Total muris genes = 1500
Total kbiala genes = 1897
Total carpe genes = 1811

     Orthogroup  HIN  trepo  spiro   wb  muris  kbiala  carpe  Total
5     OG0000005   18     13     17  159    216       9     12    444
19    OG0000019  228     13     11    7      2       6      9    276
39    OG0000039  133     16      6    4      6      10      3    178
42    OG0000042   51     18     19   14     14      26     23    165
57    OG0000057   91     12      6    5      7       8      5    134
...         ...  ...    ...    ...  ...    ...     ...    ...    ...
3606  OG0003606    2      1      1    1      1       1      1      8
3623  OG0003623    2      1      1    1      1       1      1      8
3875  OG0003875    1      1      1    1      1       1      1      7
3877  OG0003877    1      1      1    1      1       1      1      7
3879  OG0003879    1      1      1    1      1       1      1      7

[1081 rows x 9 columns]

In [10]:
"OG shared by HIN and trepo"

print("Total trepo genes =", df[(df.iloc[:,[1,2]] >=1).all(1)]["trepo"].sum())
print("Total HIN genes =", df[(df.iloc[:,[1,2]] >=1).all(1)]["HIN"].sum())

og_hin_trepo=df[(df.iloc[:,[1,2]] >=1).all(1)]
og_hin_trepo

Total trepo genes = 5179
Total HIN genes = 19905

      Orthogroup  HIN  trepo  spiro   wb  muris  kbiala  carpe  Total
4      OG0000004  511      1      0    0      0       0      0    512
5      OG0000005   18     13     17  159    216       9     12    444
19     OG0000019  228     13     11    7      2       6      9    276
23     OG0000023  251      1      0    0      0       0      0    252
24     OG0000024  186      7      0    0      0      52      2    247
...          ...  ...    ...    ...  ...    ...     ...    ...    ...
11566  OG0011566    1      1      0    0      0       0      0      2
11954  OG0011954    1      1      0    0      0       0      0      2
12005  OG0012005    1      1      0    0      0       0      0      2
12038  OG0012038    1      1      0    0      0       0      0      2
12102  OG0012102    1      1      0    0      0       0      0      2

[3344 rows x 9 columns]

In [11]:
"OG shared by Free-livings HIN, trepo, kbiala, carpe"

print("Total HIN genes =", df[(df.iloc[:,[1,2,6,7]] >=1).all(1)]["HIN"].sum())
print("Total trepo genes =", df[(df.iloc[:,[1,2,6,7]] >=1).all(1)]["trepo"].sum())
print("Total kbiala genes =", df[(df.iloc[:,[1,2,6,7]] >=1).all(1)]["kbiala"].sum())
print("Total carpe genes =", df[(df.iloc[:,[1,2,6,7]] >=1).all(1)]["carpe"].sum())

og_fl=df[(df.iloc[:,[1,2,6,7]] >=1).all(1)]
og_fl

Total HIN genes = 8100
Total trepo genes = 2268
Total kbiala genes = 2307
Total carpe genes = 2091

     Orthogroup  HIN  trepo  spiro   wb  muris  kbiala  carpe  Total
5     OG0000005   18     13     17  159    216       9     12    444
19    OG0000019  228     13     11    7      2       6      9    276
24    OG0000024  186      7      0    0      0      52      2    247
39    OG0000039  133     16      6    4      6      10      3    178
42    OG0000042   51     18     19   14     14      26     23    165
...         ...  ...    ...    ...  ...    ...     ...    ...    ...
4663  OG0004663    3      1      0    0      0       1      1      6
4935  OG0004935    2      1      1    0      0       1      1      6
4956  OG0004956    2      1      0    0      0       1      2      6
5177  OG0005177    2      1      0    0      0       1      1      5
6081  OG0006081    1      2      0    0      0       1      1      5

[1278 rows x 9 columns]

# Extract genes from OG

In [5]:
import pandas as pd

OG_gene_list=pd.read_csv('/Users/zeyku390/PycharmProjects/H.inflata/output/1_orthofinder/Results_Oct10_7sp/Orthogroups/Orthogroups.txt', header=None, dtype=str, delim_whitespace=True)
OG_gene_list=OG_gene_list.apply(lambda x: x.str.replace(":", ""))
OG_gene_list

,0,1,2,3,4,5,6,7,8,9,...,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928
0,OG0000000,HIN_000001,HIN_000235,HIN_000306,HIN_000352,HIN_000364,HIN_000427,HIN_000432,HIN_000438,HIN_000858,...,HIN_100684,HIN_100687,HIN_100750,HIN_100765,HIN_100769,HIN_100827,HIN_100829,HIN_100978,HIN_100987,SS50377_27566
1,OG0000001,HIN_000385,HIN_000552,HIN_000598,HIN_000601,HIN_000983,HIN_001077,HIN_001083,HIN_001104,HIN_001115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OG0000002,HIN_000061,HIN_000190,HIN_000209,HIN_000233,HIN_000694,HIN_001577,HIN_001631,HIN_001940,HIN_002100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OG0000003,HIN_000155,HIN_000182,HIN_000202,HIN_000296,HIN_001065,HIN_001321,HIN_001851,HIN_002030,HIN_002053,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OG0000004,HIN_000231,HIN_000254,HIN_000347,HIN_000529,HIN_000530,HIN_000821,HIN_001109,HIN_001110,HIN_001345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29536,OG0029536,KAG9397671.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29537,OG0029537,KAG9397672.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29538,OG0029538,KAG9397674.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29539,OG0029539,KAG9397680.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29540,OG0029540,KAG9397682.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
"extract proteins from OG"

def extract_prot(OG_list):
    df=pd.merge(OG_gene_list, OG_list["Orthogroup"], right_on="Orthogroup", left_on=0).drop(columns="Orthogroup").set_index(0)
    return df

extract_prot(og_diplo).T

,OG0000005,OG0000019,OG0000039,OG0000042,OG0000057,OG0000072,OG0000086,OG0000090,OG0000093,OG0000099,...,OG0004920,OG0004927,OG0004928,OG0004930,OG0004939,OG0004963,OG0004964,OG0004967,OG0006008,OG0006077
1,GL50803_101397,GL50803_10217,GL50803_115052,GL50803_112729,GL50803_15477,GL50803_16283,GL50803_13231,GL50803_15097,GL50803_103713,GL50803_16815,...,GL50803_5603,GL50803_8604,GL50803_11557,GL50803_11771,GL50803_16192,GL50803_14054,GL50803_8135,GL50803_17280,GL50803_9427,GL50803_16926
2,GL50803_102034,GL50803_14019,GL50803_17132,GL50803_13797,GL50803_29490,GL50803_6000,GL50803_16411,GMRT_10288,GL50803_14670,GL50803_8044,...,GMRT_10909,GMRT_12712,GMRT_15190,GMRT_15517,GMRT_13762,GMRT_14394,GMRT_13346,GMRT_14388,GMRT_13197,GMRT_10817
3,GL50803_102813,GL50803_15564,GL50803_221689,GL50803_13825,GL50803_4563,GL50803_61047,GMRT_13622,HIN_001559,GL50803_8064,GMRT_10547,...,HIN_065946,HIN_066682,HIN_066689,HIN_066967,HIN_070252,HIN_090757,HIN_090772,HIN_093020,HIN_059843,HIN_097892
4,GL50803_103807,GL50803_16160,GL50803_28379,GL50803_15134,GL50803_5534,GL50803_91295,GMRT_14177,HIN_001615,GL50803_9413,HIN_002143,...,HIN_070852,HIN_078130,HIN_078124,HIN_094476,HIN_093955,HIN_093023,HIN_093860,SS50377_24151,SS50377_21191,SS50377_25538
5,GL50803_10573,GL50803_16468,GMRT_11508,GL50803_15962,GL50803_8903,GL50803_91712,HIN_002761,HIN_001622,GMRT_12939,HIN_003532,...,SS50377_23242,SS50377_21232,SS50377_23334,SS50377_23592,SS50377_28224,SS50377_25390,SS50377_28335,SS50377_24154,TPC1_11163,TPC1_16186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1925,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN